// ThreadMarkersLayer styles
// Overlay container for comment thread markers

@use "../../../styles/mixins" as *;
@use "../../../styles/variables" as *;

.layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none; // Allow clicks to pass through to canvas
  z-index: 3; // Above canvas elements, below UI
  overflow: hidden;
}


